In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import sqlite3 as db
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [2]:
adultdata=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',names=['Age','Workclass','fnlwgt','Education','Education_Num','Marital_Status','Occupation','Relationship','Race','Sex','Capital_Gain','Capital_Loss','Hours_per_Week','Native_Country','>50K, <=50K'])

In [3]:
#1 select 10 records and display
#df.head(10)
pysqldf("SELECT * FROM adultdata LIMIT 10;")

,Age,Workclass,fnlwgt,Education,Education_Num,Marital_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_Week,Native_Country,">50K, <=50K"
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [11]:
def trimAllColumns(df):
    trimStrings = lambda x: x.strip() if type(x) is str else x
    return df.applymap(trimStrings)
adultdata = trimAllColumns(adultdata)

In [12]:
#2 show average hours/week of all men in private sector
pysqldf("SELECT  Sex,Workclass,avg(Hours_per_Week) FROM  adultdata WHERE Workclass='Private' and Sex='Male';")

    Sex Workclass  avg(Hours_per_Week)
0  Male   Private            42.221226

In [14]:
#3a
adultdata.Education.value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: Education, dtype: int64

In [15]:
#3b
adultdata.Occupation.value_counts()

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: Occupation, dtype: int64

In [16]:
#3c
adultdata.Relationship.value_counts()

Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: Relationship, dtype: int64

In [24]:
#4 married people working in private sector with a masters degree
q ="""SELECT * FROM adultdata
        WHERE Workclass = 'Private' AND 
        Marital_Status LIKE 'Married%' AND
        Education = 'Masters'
            
"""
pysqldf(q)

,Age,Workclass,fnlwgt,Education,Education_Num,Marital_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_Week,Native_Country,">50K, <=50K"
0,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
1,33,Private,202051,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
2,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
3,31,Private,99928,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,<=50K
4,35,Private,138992,Masters,14,Married-civ-spouse,Prof-specialty,Other-relative,White,Male,7298,0,40,United-States,>50K
5,34,Private,142897,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,7298,0,35,Taiwan,>50K
6,62,Private,270092,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
7,41,Private,445382,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,65,United-States,>50K
8,33,Private,208405,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
9,49,Private,192776,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,45,United-States,>50K
10,51,Private,410114,Masters,14,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
11,31,Private,118710,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,0,1902,40,United-States,>50K
12,34,Private,73585,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,?,<=50K
13,40,Private,170108,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
14,43,Private,158926,Masters,14,Married-civ-spouse,Prof-specialty,Wife,Asian-Pac-Islander,Female,0,0,50,South,<=50K
15,51,Private,138022,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K
16,43,Private,227065,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,43,United-States,>50K
17,38,Private,173208,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,25,United-States,<=50K
18,33,Private,354573,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,44,United-States,>50K
19,25,Private,404616,Masters,14,Married-civ-spouse,Farming-fishing,Not-in-family,White,Male,0,0,99,United-States,>50K
20,59,Private,151616,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
21,38,Private,22245,Masters,14,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,72,?,>50K
22,46,Private,279661,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,35,United-States,<=50K
23,57,Private,89392,Masters,14,Married-spouse-absent,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
24,65,Private,198766,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,20051,0,40,United-States,>50K
25,55,Private,98361,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,50,?,>50K
26,45,Private,46406,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,36,England,>50K
27,48,Private,126754,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,40,United-States,>50K
28,54,Private,177927,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,<=50K
29,43,Private,201723,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,40,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,23,Private,143003,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1887,50,India,>50K
511,50,Private,201882,Masters,14,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,30,United-States,<=50K
512,44,Private,267717,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,42,United-States,>50K
513,30,Private,182771,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>50K
514,39,Private,198841,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,45,United-States,>50K
515,53,Private,53197,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,40,United-States,>50K
516,55,Private,70088,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
517,36,Private,199346,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,>50K
518,30,Private,378009,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
519,35,Private,75855,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Black,Male,7298,0,40,?,>50K
520,59,Private,59469,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,Iran,<=50K
521,39,Private,72338,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,Philippines,>50K
522,50,Private,176157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
523,30,Private,341051,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States,>50K
524,43,Private,346321,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K
525,47,Private,155664,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,99999,0,55,United-States,>50K
526,48,Private,379883,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Cuba,>50K
527,49,Private,123681,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,43,United-States,>50K
528,43,Private,174295,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
529,32,Private,313835,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
530,40,Private,137225,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
531,25,Private,178025,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
532,31,Private,183801,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,43,United-States,>50K
533,61,Private,232719,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
534,41,Private,122215,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,40,United-States,>50K
535,33,Private,139057,Masters,14,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,50,United-States,>50K
536,34,Private,30673,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
537,41,Private,201495,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
538,46,Private,42972,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,22,United-States,>50K
539,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [25]:
#5 avg, max, min ages for working class groups
q = """SELECT Workclass,
            avg(Age),
            max(Age),
            min(Age)
            FROM adultdata
            GROUP BY Workclass
        
"""
pysqldf(q)

          Workclass   avg(Age)  max(Age)  min(Age)
0                 ?  40.960240        90        17
1       Federal-gov  42.590625        90        17
2         Local-gov  41.751075        90        17
3      Never-worked  20.571429        30        17
4           Private  36.797585        90        17
5      Self-emp-inc  46.017025        84        17
6  Self-emp-not-inc  44.969697        90        17
7         State-gov  39.436055        81        17
8       Without-pay  47.785714        72        19

In [28]:
#6 age distribution by country
q= """SELECT Native_Country, min(Age),  max(Age) FROM adultdata GROUP BY Native_Country
"""
pysqldf(q)

                Native_Country  min(Age)  max(Age)
0                            ?        17        90
1                     Cambodia        18        65
2                       Canada        17        80
3                        China        22        75
4                     Columbia        18        75
5                         Cuba        21        82
6           Dominican-Republic        18        78
7                      Ecuador        21        90
8                  El-Salvador        17        79
9                      England        17        90
10                      France        20        64
11                     Germany        18        74
12                      Greece        22        65
13                   Guatemala        19        66
14                       Haiti        17        63
15          Holand-Netherlands        32        32
16                    Honduras        18        58
17                        Hong        19        60
18                     Hungary        24        81
19                       India        17        61
20                        Iran        22        63
21                     Ireland        23        68
22                       Italy        19        77
23                     Jamaica        18        66
24                       Japan        19        61
25                        Laos        19        56
26                      Mexico        17        81
27                   Nicaragua        19        67
28  Outlying-US(Guam-USVI-etc)        21        63
29                        Peru        17        69
30                 Philippines        17        90
31                      Poland        17        85
32                    Portugal        19        78
33                 Puerto-Rico        17        90
34                    Scotland        18        62
35                       South        19        90
36                      Taiwan        20        61
37                    Thailand        19        55
38             Trinadad&Tobago        17        61
39               United-States        17        90
40                     Vietnam        19        73
41                  Yugoslavia        20        66

In [27]:
#7 create Net_capital-gain column from capital-gain and capital-loss
adultdata['Net-Capital-Gain'] = adultdata['Capital_Gain']-adultdata['Capital_Loss']
print(adultdata.head(10))

   Age         Workclass  fnlwgt  Education  Education_Num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13
5   37           Private  284582    Masters             14
6   49           Private  160187        9th              5
7   52  Self-emp-not-inc  209642    HS-grad              9
8   31           Private   45781    Masters             14
9   42           Private  159449  Bachelors             13

          Marital_Status         Occupation   Relationship   Race     Sex  \
0          Never-married       Adm-clerical  Not-in-family  White    Male
1     Married-civ-spouse    Exec-managerial        Husband  White    Male
2               Divorced  Handlers-cleaners  Not-in-family  White    Male
3     Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4     Married-civ-spouse     Prof-specialty           Wife  Black  Female
5     Married-civ-spouse    Exec-managerial           Wife  White  Female
6  Married-spouse-absent      Other-service  Not-in-family  Black  Female
7     Married-civ-spouse    Exec-managerial        Husband  White    Male
8          Never-married     Prof-specialty  Not-in-family  White  Female
9     Married-civ-spouse    Exec-managerial        Husband  White    Male

   Capital_Gain  Capital_Loss  Hours_per_Week Native_Country >50K, <=50K  \
0          2174             0              40  United-States       <=50K
1             0             0              13  United-States       <=50K
2             0             0              40  United-States       <=50K
3             0             0              40  United-States       <=50K
4             0             0              40           Cuba       <=50K
5             0             0              40  United-States       <=50K
6             0             0              16        Jamaica       <=50K
7             0             0              45  United-States        >50K
8         14084             0              50  United-States        >50K
9          5178             0              40  United-States        >50K

   Net-Capital-Gain
0              2174
1                 0
2                 0
3                 0
4                 0
5                 0
6                 0
7                 0
8             14084
9              5178